@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. RESET DEL VIEWPORT */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Vital: El scroll lo manejan los contenedores internos */
}

/* 2. ELIMINAR PUNTOS NEGROS (BULLETS) */
ul,
li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

/* 3. SCROLLBAR MODERNA */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}